*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow-x: hidden;
    padding: 10px;
}
header.Sharingan1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    & > img.LOGO1{
        height: 50px;
        margin-left: 1rem;
    }
    % > nav{
        display: flex;
        align-items: center;
        gap: 1rem;
        & > a{
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
}
header.Sharingan2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}